
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1.headername {
  text-align: center;
  font-weight: bold;
}
/*
p {
  border: 1px solid black;
  
 
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}
*/
.content{
  font-family: sans-serif;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

p.chicken{
  border: 1px solid black;
  width:100px;
  position:relative;
  float: right;
  margin: auto;
  background: red;
  font-weight: bold;
}

p.beef{
  border: 1px solid black;
  width:100px;
  position:relative;
  float: right;
  margin: auto;
  background: green;
  font-weight: bold;
}

p.sushi{
  border: 1px solid black;
  width:100px;
  position:relative;
  float: right;
  margin: auto;
  background: yellow;
  font-weight: bold;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3  {
    background-color: #A52A2A;
    float: left;
  border: 4px solid black;
  margin: 4px;
  }
  .col-lg-1 {
    width: 30%;
  }
  .col-lg-2 {
    width: 30%;
  }
  .col-lg-3 {
    width: 30%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3 {
    float: left;
    background-color: #A52A2A;
    border: 4px solid black;
    margin-bottom: 5px;
  }
  .col-md-1 {
    width: 49%;
    margin-righ:2px;
  }
  .col-md-2 {
    width: 49%;
    margin-left:2px;
  }
  .col-md-3 {
    width: 98.25%;
  }

}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3 {
    float: left;
    background-color: #A52A2A;
    border: 4px solid black;
    margin: 4px;
  }
  .col-sm-1 {
    width: 100%;
  }
  .col-sm-2 {
    width: 100%;
  }
  .col-sm-3 {
    width: 100%;
  }

}